/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: MESSAGE */

.message {
  padding: 8px 28px;
  flex-direction: row;
  display: flex;
}

.message:hover {
  background-color: var(--color-grey-light);
}

.message-avatar {
  flex: 0 0 auto;
}

.message-inner {
  margin-left: 12px;
  overflow: hidden;
  flex: 1;
}

.message-origin {
  line-height: var(--message-origin-height);
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.message-origin-name,
.message-origin-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-origin-name {
  color: var(--color-black-medium);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  flex: 0 0 auto;
}

.message-origin-date {
  color: var(--color-grey-default);
  font-size: 12px;
  letter-spacing: 0;
  margin-left: 5px;
  flex: 0 1 auto;
}

.message-origin-attributes {
  margin-left: 8px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.message-origin-attribute {
  height: var(--message-origin-height);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  margin-right: 6px;
  flex: 0 0 auto;
}

.message-origin-attribute:last-child {
  margin-right: 0;
}

.message-origin-attribute.message-origin-attribute--insecure {
  background-color: var(--color-red-default);
  mask-image: url("./images/origin-attribute-insecure.svg");
  width: 13px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/origin-attribute-insecure.svg");
}

.message-content,
.message-content a {
  color: var(--color-black-medium);
}

.message-content {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0;
}

.message-content-line {
  margin: 0 0 4px;
}

.message-content-line:last-child {
  margin-bottom: 0;
}

.message-content-line br {
  content: "";
  margin: 2px;
  display: block;
}

.message-text-inner,
.message-file-inner {
  display: block;
}

.message-text {
  user-select: text;
  hyphens: auto;
}

.message-text-inner a {
  text-decoration-color: var(--color-grey-default);
  font-weight: 600;
}

.message-file-inner.message-file-inner--expanded .message-file-expander::after {
  transform: rotate(0deg);
}

.message-file-inner.message-file-inner--expanded .message-file-image,
.message-file-inner.message-file-inner--expanded .message-file-other {
  display: block;
}

.message-file-expander {
  color: var(--color-grey-default);
  line-height: 20px;
  margin-top: 9px;
  margin-bottom: 6px;
  display: block;
  transition: color linear 75ms;
}

.message-file-expander::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--color-black-medium);
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 3px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 50%;
  transition: transform linear 150ms;
}

.message-file-expander:hover {
  color: var(--color-black-medium);
  cursor: pointer;
}

.message-file-image,
.message-file-other {
  display: none;
}

.message-file-image {
  line-height: 0;
}

.message-file-image img {
  background-color: var(--color-white-default);
  border-radius: 3px;
  transition: filter linear 100ms;
}

.message-file-image img:hover {
  filter: brightness(110%);
}

.message-file-image img:active {
  filter: brightness(105%);
}

.message-file-other {
  margin: 0;
  padding: 0;
}

.message-file-other li {
  line-height: 0;
  list-style-type: none;
  display: flex;
}

.message-file-other-option {
  border: 1px solid var(--color-grey-medium);
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: border-color linear 100ms;
}

.message-file-other-option:hover {
  border-color: var(--color-grey-default);
}

.message-file-other-option:active {
  border-color: var(--color-grey-medium);
}

.message-file-other-option::after {
  content: "";
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  height: 17px;
  margin-top: -2px;
}

.message-file-other-option.message-file-other-option--get::after {
  background-color: var(--color-black-default);
  mask-image: url("./images/file-other-option-get.svg");
  width: 14px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/file-other-option-get.svg");
}

/* VARIABLES */

.message {
  --message-origin-height: 14px;
}

/* MEDIA-QUERIES */

@media only screen and (max-width: 600px) {
  .message {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 500px) {
  .message {
    padding: 0 14px;
  }
}

@media only screen and (max-width: 400px) {
  .message {
    padding: 0 10px;
  }
}
