/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: MESSAGE */

.message-line {
  padding: var(--message-line-padding-top-bottom)
    var(--message-line-padding-sides-default);
  flex-direction: row;
  display: flex;
  position: relative;
}

.message-line:hover {
  background-color: var(--color-grey-light);
}

.message-line:first-child .message-inner {
  margin-bottom: -0.25em;
}

.message-line.message-line--highlighted {
  background-color: var(--color-yellow-light);
}

.message-avatar {
  margin-right: 12px;
  flex: 0 0 auto;
}

.message-inner {
  overflow: hidden;
  flex: 1;
}

.message-origin {
  line-height: var(--message-line-origin-height);
  display: flex;
  align-items: center;
  margin-bottom: 0.15em;
}

.message-origin-name,
.message-origin-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-origin-name {
  color: var(--color-black-medium);
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0;
  flex: 0 0 auto;
}

.message-origin-date {
  color: var(--color-grey-default);
  font-size: 0.925em;
  letter-spacing: 0;
  margin-left: 5px;
  flex: 0 1 auto;
}

.message-origin-attributes {
  margin-left: 8px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.message-origin-attribute {
  height: var(--message-line-origin-height);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  margin-right: 6px;
  flex: 0 0 auto;
}

.message-origin-attribute:last-child {
  margin-right: 0;
}

.message-origin-attribute.message-origin-attribute--insecure {
  background-color: var(--color-red-default);
  mask-image: url("./images/origin-attribute-insecure.svg");
  width: 13px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/origin-attribute-insecure.svg");
}

.message-content {
  color: var(--color-black-medium);
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.message-content .linebreak {
  height: 1em;
  display: block;
}

.message-line:hover .message-actions,
.message-actions.message-actions--locked {
  display: flex;
}

.message-reaction,
.message-actions {
  background-color: var(--color-white-default);
  border: 1px solid var(--color-grey-medium-lighter);
  border-radius: 5px;
}

.message-reactions {
  line-height: 1.38em;
  margin-top: 3px;
  display: block;
}

.message-reaction {
  margin-right: 4px;
  margin-top: 3px;
  padding: 4px 5px 0;
  cursor: pointer;
  display: inline-block;
}

.message-reaction:hover {
  border-color: var(--color-grey-medium);
}

.message-reaction:active {
  border-color: var(--color-grey-medium-darker);
}

.message-reaction:last-child {
  margin-right: 0;
}

.message-reaction.message-reaction--active {
  background-color: var(--color-blue-light);
  border-color: var(--color-blue-default);
}

.message-reaction.message-reaction--active:hover {
  border-color: var(--color-blue-dark);
}

.message-reaction.message-reaction--active .message-reaction-count {
  color: var(--color-black-default);
}

.message-reaction-image,
.message-reaction-count {
  vertical-align: middle;
  display: inline-block;
}

.message-reaction-image {
  font-family: "Apple Color Emoji", "Android Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Twemoji Mozilla", "Noto Color Emoji", "EmojiOne Color",
    sans-serif;
  font-size: 1.15em;
  margin-top: -0.35em;
}

.message-reaction-count {
  color: var(--color-grey-dark);
  font-size: 0.8em;
  margin-top: -0.6em;
  margin-left: 1px;
}

#app.app--renderer-safari .message-reaction-image,
#app.app--renderer-ios-webview .message-reaction-image {
  /* Hack: Safari renders emojis a little bit too large, we need to adjust */
  font-size: 0.9em;
  margin-top: -0.5em;
}

#app.app--renderer-safari .message-reaction-count,
#app.app--renderer-ios-webview .message-reaction-count {
  /* Hack: Safari renders emojis a little bit too large, we need to adjust */
  margin-top: -0.4em;
}

.message-actions {
  padding: 2px;
  position: absolute;
  top: -5px;
  right: calc(var(--message-line-padding-sides-default) - 1px);
  display: none;
}

.message-action {
  width: 26px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.message-action:hover,
.message-action.message-action--active {
  background-color: var(--color-grey-light-darker);
}

.message-action:active {
  background-color: var(--color-grey-medium-lighter);
}

.message-action::after {
  content: "";
  background-color: var(--color-grey-dark);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.message-action.message-action--more::after {
  mask-image: url("./images/action-more.svg");
  width: 15px;
  height: 4.5px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/action-more.svg");
}

.message-action.message-action--reactions::after {
  mask-image: url("./images/action-reactions.svg");
  width: 15px;
  height: 15px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/action-reactions.svg");
}

.message-text {
  user-select: text;
  cursor: text;
}

.message-text-inner {
  white-space: pre-wrap;
  hyphens: auto;
}

.message-text-inner.message-text-inner--enlarged {
  font-size: 2em;
  line-height: 1.25em;
}

.message-text-inner a {
  color: var(--color-blue-default);
  text-decoration: underline;
}

.message-text-inner a[href^="xmpp:"] {
  color: var(--color-blue-dark);
  background-color: var(--color-blue-light);
  text-decoration: none;
  padding: 0.1em 0.3em 0.1em 0.15em;
  border-radius: 3px;
}

.message-text-inner a[href^="xmpp:"]:hover {
  color: var(--color-white-default);
  background-color: var(--color-blue-dark);
}

.message-text-inner ul,
.message-text-inner ol {
  margin: 0.5em 0;
  padding-left: 1.8em;
}

.message-text-inner h1,
.message-text-inner h2,
.message-text-inner h3,
.message-text-inner h4,
.message-text-inner h5,
.message-text-inner h6 {
  margin: 0.9em 0;
}

.message-text-inner h1 {
  font-size: 2em;
}

.message-text-inner h2 {
  font-size: 1.8em;
}

.message-text-inner h3 {
  font-size: 1.6em;
}

.message-text-inner h4 {
  font-size: 1.4em;
}

.message-text-inner h5 {
  font-size: 1.2em;
}

.message-text-inner h6 {
  font-size: 1em;
}

.message-text-inner hr {
  background-color: var(--color-grey-medium-lighter);
  border: 0 none;
  height: 1px;
  margin: 1.1em 0 0;
}

.message-text-inner pre {
  margin: 0.4em 0;
  display: block;
}

.message-text-inner code {
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-medium-lighter);
  font-family: monospace, sans-serif;
  font-size: 0.825em;
  padding: 0 3px;
  display: inline-block;
  border-radius: 4px;
}

.message-text-inner pre code {
  line-height: 1.45em;
  padding: 7px 12px;
  overflow: auto;
  display: block;
}

.message-text-flag {
  color: var(--color-grey-medium-darker);
  font-size: 0.95em;
  text-transform: lowercase;
  user-select: none;
  cursor: default;
  margin-left: 2px;
}

.message-file {
  margin-top: 6px;
  display: block;
}

.message-file-inner {
  line-height: 0;
  display: block;
}

.message-file-inner.message-file-inner--expanded .message-file-expander {
  margin-bottom: 3px;
}

.message-file-inner.message-file-inner--expanded .message-file-expander::after {
  transform: rotate(0deg);
}

.message-file-inner.message-file-inner--expanded .message-file-content {
  display: block;
}

.message-file-expander {
  color: var(--color-grey-default);
  line-height: 1.54em;
  display: block;
}

.message-file-expander::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--color-black-medium);
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 3px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: 50%;
  transition: transform linear 150ms;
}

.message-file-expander:hover {
  color: var(--color-black-medium);
  cursor: pointer;
}

.message-file-content {
  display: none;
}

/* VARIABLES */

.message {
  --message-line-padding-top-bottom: 6px;
  --message-line-padding-sides-default: 22px;
  --message-line-padding-sides-medium: 18px;
  --message-line-padding-sides-small: 14px;
  --message-line-padding-sides-tiny: 10px;
  --message-line-origin-height: 14px;
}

/* MEDIA-QUERIES */

@media only screen and (max-width: 600px) {
  .message-line {
    padding: var(--message-line-padding-top-bottom)
      var(--message-line-padding-sides-medium);
  }

  .message-avatar {
    margin-right: 10px;
  }

  .message-actions {
    right: calc(var(--message-line-padding-sides-medium) - 1px);
  }
}

@media only screen and (max-width: 500px) {
  .message-line {
    padding: var(--message-line-padding-top-bottom)
      var(--message-line-padding-sides-small);
  }

  .message-avatar {
    margin-right: 9px;
  }

  .message-actions {
    right: calc(var(--message-line-padding-sides-small) - 1px);
  }
}

@media only screen and (max-width: 400px) {
  .message-line {
    padding: var(--message-line-padding-top-bottom)
      var(--message-line-padding-sides-tiny);
  }

  .message-avatar {
    margin-right: 8px;
  }

  .message-actions {
    right: calc(var(--message-line-padding-sides-tiny) - 1px);
  }
}
