/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: MESSAGE */

.message {
  padding: 8px 28px;
  flex-direction: row;
  display: flex;
}

.message:hover {
  background-color: var(--color-grey-light);
}

.message-inner {
  margin-left: 12px;
  overflow: hidden;
}

.message-origin {
  line-height: 14px;
  margin-bottom: 4px;
  display: flex;
}

.message-origin-name,
.message-origin-date {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message-origin-name {
  color: var(--color-black-medium);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0;
  flex: 0 0 auto;
}

.message-origin-date {
  color: var(--color-gray-default);
  font-size: 12px;
  letter-spacing: 0;
  margin-left: 5px;
  flex: 0 1 auto;
}

.message-content {
  color: var(--color-black-medium);
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0;
  user-select: text;
}

.message-content-line {
  margin: 0 0 4px;
}

.message-content-line:last-child {
  margin-bottom: 0;
}

.message-content-line br {
  content: "";
  margin: 2px;
  display: block;
}

.message-text {
  hyphens: auto;
}

.message-file {
  user-select: none;
}

.message-file-expander,
.message-file-image {
  display: block;
}

.message-file-expander {
  color: var(--color-gray-default);
  line-height: 20px;
  margin-top: 9px;
  margin-bottom: 6px;
  transition: color linear 75ms;
}

.message-file-expander::after {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid var(--color-black-medium);
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  display: inline-block;
}

.message-file-expander:hover {
  color: var(--color-black-medium);
  cursor: pointer;
}

.message-file-image img {
  background-color: var(--color-white-default);
  border-radius: 3px;
}

/* MEDIA-QUERIES */

@media only screen and (max-width: 600px) {
  .message {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 500px) {
  .message {
    padding: 0 14px;
  }
}

@media only screen and (max-width: 400px) {
  .message {
    padding: 0 10px;
  }
}
