/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: ENTRY */

.entry {
  margin-bottom: 3px;
}

.entry:last-child {
  margin-bottom: 0;
}

.entry.entry--sticky {
  position: sticky;
  top: 8px;
  z-index: 10;
}
