/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: AVATAR */

.avatar {
  line-height: 0;
}

.avatar-image {
  background-color: var(--color-grey-light);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: var(--avatar-image-size);
  height: var(--avatar-image-size);
  cursor: pointer;
  border-radius: 7px;
  object-fit: cover;
  display: block;
}

.avatar-image.avatar-image--placeholder {
  line-height: var(--avatar-image-size);
  text-align: center;
}

.avatar-image.avatar-image--ghost {
  visibility: hidden;
  height: 0;
}

.avatar-image:hover {
  filter: brightness(105%);
}

.avatar-initials {
  color: var(--color-white-default-fixed);
  font-weight: 600;
  font-size: 1.15em;
  letter-spacing: 0.25px;
}

/* VARIABLES */

.avatar {
  --avatar-image-size: 36px;
}
