/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: AVATAR */

.avatar {
  background-color: var(--color-grey-light);
  width: 32px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  object-fit: cover;
  display: block;
}

.avatar.avatar--placeholder {
  box-shadow: none;
}
