<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Messaging View</title>

    <link rel="stylesheet" href="styles.css" />
    <script type="module" src="app.js"></script>
  </head>

  <body id="app">
    <div class="entry" v-for="entry in feed" v-scope="Entry(entry)">
      <div class="message" v-if="message" v-scope="Message(message)">
        <img class="avatar" v-scope="Avatar(user)" :src="avatarUrl" alt="" />

        <div class="message-inner">
          <div class="message-origin">
            <span class="message-origin-name">{{ user.name }}</span>
            <span class="message-origin-date">{{ date }}</span>
          </div>

          <div class="message-content">
            <p v-for="content in contents" class="message-content-text">{{ content.text }}</p>
          </div>
        </div>
      </div>

      <div class="separator" v-else-if="separator" v-scope="Separator(separator)">
        <span class="separator-label">{{ label }}</span>
      </div>
    </div>
  </body>
</html>
