<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Messaging View</title>

    <link rel="stylesheet" href="styles.css" />
    <script type="module" src="app.js"></script>
  </head>

  <body id="app">
    <div class="entry" v-for="entry in feed" v-scope="Entry(entry)">
      <div class="message" v-if="entry.type === 'message'" v-scope="Message(entry)">
        <img class="avatar" v-scope="Avatar(entry.user.avatar)" :src="entry.user.avatar" alt="" />

        <div class="message-inner">
          <div class="message-origin">
            <span class="message-origin-name">{{ entry.user.name }}</span>
            <span class="message-origin-date">{{ entry.date }}</span>
          </div>

          <div class="message-content">
            <p v-for="content in entry.content" class="message-content-text">{{ content.text }}</p>
          </div>
        </div>
      </div>

      <div class="separator" v-else-if="entry.type === 'separator'" v-scope="Separator(entry)">
        <span class="separator-label">{{ entry.label }}</span>
      </div>
    </div>
  </body>
</html>
