/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

@import "./components/avatar/avatar.css";
@import "./components/separator/separator.css";
@import "./components/message/message.css";
@import "./components/entry/entry.css";
@import "./components/loader/loader.css";

/* SECTION: BODY */

body {
  user-select: none;
  margin: 0;
  padding: 12px 0;
  cursor: default;
}

/* SECTION: ELEMENTS */

a {
  cursor: pointer;
}

/* SECTION: APPLICATION */

#app {
  background-color: var(--color-white-default);
  font-family: sans-serif;
  font-size: 13px;
}

#app.app--visible {
  visibility: visible;
}

/* VARIABLES */

#app {
  /* COLOR (LIGHT MODE): WHITE */
  --color-white-default: #ffffff;
  --color-white-dark: #eeeeee;

  /* COLOR (LIGHT MODE): BLACK */
  --color-black-default: #000000;
  --color-black-medium: #232526;

  /* COLOR (LIGHT MODE): GREY */
  --color-grey-default: #797979;
  --color-grey-light: #f7f7f7;
  --color-grey-light-darker: #efefef;
  --color-grey-medium: #bfbfbf;
  --color-grey-medium-lighter: #e5e5e5;
  --color-grey-medium-darker: #a6a6a6;
  --color-grey-dark: #575757;

  /* COLOR (LIGHT MODE): RED */
  --color-red-default: #d81313;

  /* COLOR (LIGHT MODE): BLUE */
  --color-blue-default: #0072fe;
  --color-blue-light: #e9f2ff;
  --color-blue-dark: #003e8c;

  /* COLOR (LIGHT MODE): YELLOW */
  --color-yellow-default: #ffff78;
  --color-yellow-light: #ffffc2;
}

#app.app--theme-dark {
  /* COLOR (DARK MODE): WHITE */
  --color-white-default: #090b0f;
  --color-white-dark: #13181f;

  /* COLOR (DARK MODE): BLACK */
  --color-black-default: #ffffff;
  --color-black-medium: #ffffff;

  /* COLOR (DARK MODE): GREY */
  --color-grey-default: #9AA4B2;
  --color-grey-light: #13181f; 
  --color-grey-light-darker: #090b0f;
  --color-grey-medium: #313131;
  --color-grey-medium-lighter: #1f1f1f;
  --color-grey-medium-darker: #697586;
  --color-grey-dark: #8a8a8a;

  /* COLOR (DARK MODE): RED */
  --color-red-default: #ff2929;

  /* COLOR (DARK MODE): BLUE */
  --color-blue-default: #157eff;
  --color-blue-light: #081d37;
  --color-blue-dark: #53a0ff;

  /* COLOR (DARK MODE): YELLOW */
  --color-yellow-default: #a4a455;
  --color-yellow-light: #2b2b21;
}

#app.app--modifier-no-scroll {
  overflow: hidden;
}
