/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* IMPORTS: COMPONENTS */

@import "./components/avatar/avatar.css";
@import "./components/file/file.css";
@import "./components/separator/separator.css";
@import "./components/message/message.css";
@import "./components/group/group.css";
@import "./components/entry/entry.css";
@import "./components/loader/loader.css";

/* IMPORTS: LIBRARIES */

@import "./libraries/highlighting/theme.css";

/* SECTION: HTML */

html {
  /* Notice: request anti-aliased fonts on whole document */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* SECTION: BODY */

body {
  user-select: none;
  margin: 0;
  padding: 12px 0;
  cursor: default;
}

/* SECTION: ELEMENTS */

a {
  cursor: pointer;
}

/* SECTION: APPLICATION */

#app {
  background-color: var(--color-background-primary);
  font-family: sans-serif;
  font-size: 14px;
}

#app.app--visible {
  visibility: visible;
}

/* VARIABLES */

#app {
  /* Notice: fixed colors are stable between Light Mode and Dark Mode. */

  /* SIZE: SEPARATOR */
  --size-separator-height: 1.525rem;
  --size-separator-padding-bottom: 1px;

  /* COLOR (LIGHT MODE): WHITE */
  --color-white-default: #ffffff;
  --color-white-default-fixed: #ffffff;
  --color-white-dark: #eeeeee;

  /* COLOR (LIGHT MODE): BLACK */
  --color-black-default: #000000;
  --color-black-default-fixed: #000000;
  --color-black-medium: #232526;
  --color-black-medium-fixed: #232526;

  /* COLOR (LIGHT MODE): GREY */
  --color-grey-default: #797979;
  --color-grey-light: #f7f7f7;
  --color-grey-light-darker: #efefef;
  --color-grey-medium: #bfbfbf;
  --color-grey-medium-lighter: #e5e5e5;
  --color-grey-medium-darker: #a6a6a6;
  --color-grey-dark: #575757;

  /* COLOR (LIGHT MODE): RED */
  --color-red-default: #d81313;

  /* COLOR (LIGHT MODE): YELLOW */
  --color-yellow-default: #ffff78;
  --color-yellow-light: #ffffc2;

  /* COLOR (LIGHT MODE): BACKGROUND */
  --color-background-primary: #ffffff;

  /* COLOR (LIGHT MODE): SHADOW */
  --color-shadow-primary: rgba(0, 0, 0, 0.04);

  /* COLOR (LIGHT MODE): CODE */
  --color-code-background: #1f2224;
  --color-code-text: #ffffff;
  --color-code-highlight-main: #f7f7f7;
  --color-code-highlight-comment: #a2a2a2;
  --color-code-highlight-operator: #f7f7f7;
  --color-code-highlight-variable: #f2777a;
  --color-code-highlight-number: #ff8c4d;
  --color-code-highlight-class: #ffcc66;
  --color-code-highlight-string: #c2ee65;
  --color-code-highlight-type: #66cccc;
  --color-code-highlight-function: #88c4ff;
  --color-code-highlight-keyword: #ff9eff;
  --color-code-highlight-section: #d27b53;

  /* COLOR (LIGHT MODE): ACCENT */
  --color-accent-dark: color-mix(
    in srgb,
    var(--color-accent-default),
    black 45%
  );
  --color-accent-light: color-mix(
    in srgb,
    var(--color-accent-default),
    white 90%
  );
}

#app.app--theme-dark {
  /* COLOR (DARK MODE): WHITE */
  --color-white-default: #000000;
  --color-white-dark: #181818;

  /* COLOR (DARK MODE): BLACK */
  --color-black-default: #ffffff;
  --color-black-medium: #ffffff;

  /* COLOR (DARK MODE): GREY */
  --color-grey-default: #848484;
  --color-grey-light: #161616;
  --color-grey-light-darker: #1a1a1a;
  --color-grey-medium: #313131;
  --color-grey-medium-lighter: #1f1f1f;
  --color-grey-medium-darker: #848484;
  --color-grey-dark: #848484;

  /* COLOR (DARK MODE): RED */
  --color-red-default: #ff2929;

  /* COLOR (DARK MODE): YELLOW */
  --color-yellow-default: #a4a455;
  --color-yellow-light: #2b2b21;

  /* COLOR (DARK MODE): BACKGROUND */
  --color-background-primary: #111111;

  /* COLOR (DARK MODE): CODE */
  --color-code-background: #000000;

  /* COLOR (DARK MODE): ACCENT */
  --color-accent-dark: color-mix(
    in srgb,
    var(--color-accent-default),
    white 60%
  );
  --color-accent-light: color-mix(
    in srgb,
    var(--color-accent-default),
    black 80%
  );
}

#app.app--modifier-no-scroll {
  overflow-y: hidden;
}
