/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

@import "./components/avatar/avatar.css";
@import "./components/separator/separator.css";
@import "./components/message/message.css";
@import "./components/entry/entry.css";

/* SECTION: BODY */

body {
  font-family: sans-serif;
  user-select: none;
  margin: 0;
  padding: 12px 0;
  cursor: default;
}

/* SECTION: ELEMENTS */

a {
  cursor: pointer;
}

/* SECTION: APPLICATION */

#app {
  background-color: var(--color-white-default);
}

#app.app--visible {
  visibility: visible;
}

/* VARIABLES */

#app {
  /* COLOR (LIGHT MODE): WHITE */
  --color-white-default: #ffffff;
  --color-white-dark: #eeeeee;

  /* COLOR (LIGHT MODE): BLACK */
  --color-black-default: #000000;
  --color-black-medium: #232526;

  /* COLOR (LIGHT MODE): GREY */
  --color-grey-default: #797979;
  --color-grey-light: #f7f7f7;
  --color-grey-medium: #bfbfbf;

  /* COLOR (LIGHT MODE): RED */
  --color-red-default: #d81313;

  /* COLOR (LIGHT MODE): BLUE */
  --color-blue-default: #0072fe;

  /* COLOR (LIGHT MODE): YELLOW */
  --color-yellow-default: #ffff78;
  --color-yellow-light: #ffffc2;
}

#app.app--dark {
  /* COLOR (DARK MODE): WHITE */
  --color-white-default: #000000;
  --color-white-dark: #181818;

  /* COLOR (DARK MODE): BLACK */
  --color-black-default: #ffffff;
  --color-black-medium: #ffffff;

  /* COLOR (DARK MODE): GREY */
  --color-grey-default: #666666;
  --color-grey-light: #161616;
  --color-grey-medium: #313131;

  /* COLOR (DARK MODE): RED */
  --color-red-default: #ff2929;

  /* COLOR (DARK MODE): BLUE */
  --color-blue-default: #157eff;

  /* COLOR (DARK MODE): YELLOW */
  --color-yellow-default: #a4a455;
  --color-yellow-light: #2b2b21;
}
