/*
 * prose-core-views
 *
 * Copyright: 2024, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: FILE */

.file-image,
.file-video {
  display: inline-block;
}

.file-audio,
.file-other {
  display: block;
}

.file-thumbnail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  border-radius: 9px;
}

.file-thumbnail:hover {
  filter: brightness(105%);
}

.file-thumbnail:active {
  filter: brightness(102%);
}

.file-thumbnail.file-thumbnail--image {
  background-color: var(--color-grey-light);
}

.file-thumbnail.file-thumbnail--video {
  background-color: var(--color-black-medium);
}

.file-player-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.file-player-track {
  border: 1px solid var(--color-grey-medium-lighter);
  width: 100%;
  max-width: 380px;
  padding: 7px 9px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-radius: 40px;
}

.file-player-track:hover {
  border-color: var(--color-grey-medium);
}

.file-player-action,
.file-player-track::after {
  flex: 0 0 auto;
  border-radius: 100%;
}

.file-player-track::after {
  content: "";
  background-color: var(--color-black-default);
  mask-image: url("./images/player-icon.svg");
  width: 20px;
  height: 20px;
  margin-right: 8px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/player-icon.svg");
}

.file-player-action {
  background-color: var(--color-black-default);
  cursor: pointer;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform linear 100ms;
}

.file-player-action.file-player-action--small {
  width: 34px;
  height: 34px;
}

.file-player-action.file-player-action--large {
  width: 42px;
  height: 42px;
}

.file-player-preview:hover .file-player-action,
.file-player-action:hover {
  background-color: var(--color-black-medium);
}

.file-player-preview:active .file-player-action,
.file-player-action:active {
  transform: scale(0.9);
}

.file-player-track::after,
.file-player-action::after {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.file-player-action::after {
  content: "";
  background-color: var(--color-white-default);
}

.file-player-action.file-player-action--play::after {
  mask-image: url("./images/player-action-play.svg");
  width: 12px;
  height: 12px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/player-action-play.svg");
}

.file-player-action.file-player-action--pause::after {
  mask-image: url("./images/player-action-pause.svg");
  width: 10px;
  height: 12px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/player-action-pause.svg");
}

.file-player-analyser,
.file-player-analyser-progress {
  border-radius: 2px;
}

.file-player-analyser {
  background-color: var(--color-grey-medium-lighter);
  height: 3px;
  margin: 0 18px;
  flex: 1;
}

.file-player-analyser-progress {
  background-color: var(--color-black-medium);
  height: 100%;
  width: 0%;
  max-width: 100%;
  display: block;
  transition: width linear 0.5s;
}

.file-player-timer {
  color: var(--color-black-medium);
  font-size: 1em;
  letter-spacing: 0.025em;
  line-height: 1.1em;
  margin-right: 13px;
  flex: 0 0 auto;
}

.file-player-duration {
  background-color: var(--color-black-default);
  color: var(--color-white-default);
  font-size: 0.85em;
  letter-spacing: 0.01em;
  line-height: 1.25em;
  padding: 4px 7px;
  display: inline-block;
  border-radius: 5px;
}

.file-player-preview .file-player-duration {
  position: absolute;
  right: 14px;
  bottom: 10px;
}

.file-player-media {
  display: none;
}

.file-other {
  margin: 0;
  padding: 0;
}

.file-other li {
  line-height: 0;
  list-style-type: none;
  display: flex;
}

.file-other-option {
  border: 1px solid var(--color-grey-medium);
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.file-other-option:hover {
  border-color: var(--color-grey-default);
}

.file-other-option:active {
  border-color: var(--color-grey-medium);
}

.file-other-option::after {
  content: "";
  background-color: var(--color-black-default);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.file-other-option.file-other-option--get::after {
  mask-image: url("./images/other-option-get.svg");
  width: 14px;
  height: 17px;
  margin-top: -2px;

  /* Hack: WebKit Web Views do not support mask-image yet */
  -webkit-mask-box-image: url("./images/other-option-get.svg");
}
