/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: SEPARATOR */

.separator {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  background-color: var(--color-white-dark);
  height: 1px;
  flex: 1;
}

.separator-label {
  color: var(--color-black-medium);
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0;
  opacity: 0.9;
  margin: 0 16px;
  flex: 0 0 auto;
}
