/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: SEPARATOR */

.separator {
  text-align: center;
  display: block;
}

.separator-label {
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-grey-medium-lighter);
  color: var(--color-black-medium);
  font-size: calc(var(--size-separator-height) / 2);
  font-weight: 600;
  line-height: var(--size-separator-height);
  letter-spacing: 0;
  padding: 0 16px var(--size-separator-padding-bottom);
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0 1px 3px 0 var(--color-shadow-primary);
}
