/*
 * prose-core-views
 *
 * Copyright: 2022, Valerian Saliou <valerian@valeriansaliou.name>
 * License: Mozilla Public License v2.0 (MPL v2.0)
 */

/* SECTION: SEPARATOR */

.separator {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  background-color: var(--color-white-dark);
  height: 1px;
  flex: 1;
}

.separator-label {
  background-color: var(--color-white-default);
  border: 1px solid var(--color-grey-medium-lighter);
  color: var(--color-black-medium);
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1.45em;
  letter-spacing: 0;
  padding: 4px 16px;
  flex: 0 0 auto;
  border-radius: 30px;
  box-shadow: 0 1px 3px 0 var(--color-shadow-primary);
}
